body{
  background-color: whitesmoke;
}


.App {
  text-align: center;
 
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list {

  height: calc(100vh - 210px);
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  outline: none;
  overflow:hidden;
  box-shadow: 2px 7px 19px 0px rgba(166,166,166,1);

}
.ReactVirtualized__List {
  outline: none;
}
.row { 
  border-bottom: 1px solid #ebeced;
  text-align: left;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.row:hover{
  background-color: lightgray;
  cursor: pointer;
}
.image {
  margin-right: 10px;
}
.content {
  padding: 10px;
  text-overflow: ellipsis;

}
.details{
  display:inline;

  grid-column-start: 2;
  grid-column-end: 2;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  overflow:hidden;
  box-shadow: 2px 7px 19px 0px rgba(166,166,166,1);
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
 column-gap: 20px;
  height: 100%;
}
#name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#profit{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-box{
  display: inline;
  width: auto;
}
.search-box input{
  display: inline;
  font-size: 16px;
  width: 100%;
}